* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1c0f2a;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top, #1b3fb3, #010412);
  filter: blur(120px);
  z-index: -1;
}
.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.search-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: white;
  font-size: 14px;
}

input::placeholder {
  color: #9ca3af;
}

button {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #2563eb, #9333ea);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

#loading {
  text-align: center;
  margin-top: 10px;
  display: none;
  color: #38bdf8;
}

#error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.profile-card {
  text-align: center;
  margin-top: 20px;
}

.profile-card img {
  width: 110px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
}

.profile-card h2 {
  margin-top: 10px;
  font-size: 18px;
}

.profile-card p {
  font-size: 13px;
  color: #cbd5f5;
  margin-top: 5px;
}

.profile-card a {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  color: #38bdf8;
  font-size: 14px;
}


.repo-list {
  margin-top: 20px;
}

.repo-list h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.repo-list ul {
  list-style: none;
}

.repo-list li {
  background: rgba(255,255,255,0.08);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 6px;
  transition: 0.2s;
}

.repo-list li:hover {
  background: rgba(56,189,248,0.2);
}

.repo-list a {
  color: #f8c90d;
  text-decoration: none;
  font-size: 14px;
}
